.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

table {
  width: 60%;
  margin-top: 30px;
}

.table-header {
  font-size: 1.7rem;
}

tr {
  font-size: 1.5rem;
}

.button-pay {
  font-size: 1.4rem;
  color: white;
  background-color: steelblue;
  margin: 20px;
  border: none;
  border-radius: 5px;
  padding: 4px 15px;
  cursor: pointer;
}

.button-pay:hover {
  background-color: white;
  color: steelblue;
}
